/* 게시판 글쓰기(writeForm.jsp) */
#board_box { position: relative; width: 700px; margin: 0 auto;}
#board_form span { display: inline-block; }
#board_form .col1 { width: 150px; font-weight:bold; }
#board_form li {	padding: 12px; border-bottom: solid 1px #dddddd; }
#board_form input { width: 500px; height: 25px; }
#board_form textarea { width: 500px;	height: 150px; }
#board_form #text_area {position: relative;	height: 158px; }
#board_form #text_area .col1 { position: absolute; top: 10px; }
#board_form #text_area .col2 { position: absolute; left: 166px; }

.buttons { text-align: right; margin: 20px 10px 20px 0; }
.buttons li { display: inline; }
button { padding: 5px 10px; cursor: pointer; }

/* 게시판 목록보기(list.jsp) */
#board_list { width:100%; }
#board_list li { padding: 15px; border-bottom: solid 1px #dddddd; font-size: 0.9em; }
#board_list span { display: inline-block; text-align: center;}
#board_list .col1 { width: 100px; }
#board_list .col2 { width: 540px; text-align: left; }
#board_list .col2  i{font-size:0.8rem; margin:5px; color:#474747;}
#board_list .col3 { width: 140px; }
#board_list .col4 { width: 140px; }
#board_list .col5 { width: 90px; }
#board_list .replycount { font-size: 1rem; color: #810000;  }
#board_list li:nth-child(1){background-color:#F6F6F6;}
.container{
	font-size:1.2rem;
}
.con{
	width:100%;
	height:250px;
	background-color:#ccc;
	text-align:center;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top:130px;
}

.con > .text > h1{
	font-size:2rem;
}
.txt_box{
	width:1100px;
	margin:auto;
	text-align:left;
	margin-top:50px;
}
.txt_box > h3{
	border:none;
	font-size:1.5rem;
}
.menu{
    display: flex;

}
.menu-item{
	background-color:#fff;
}
.menu-link{
    display: block;
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
    border:1px solid #ccc;
    margin-right:3px;
    width:200px;
    transition: all 0.5s;
}
.menu-item:nth-child(odd){
	border-radius:10px 0 0 10px;
}
.menu-link:hover{
	background-color:#000040;
	color:white;
}
.container{
	width:100%;
	height:900px;
	margin:auto;
}
.page {
	clear:left;
	width:100%;
	text-align:center;
	padding-top: 40px;
	margin:auto;
}

.search_box{
	width:1200px;
	text-align:left;
	margin:auto;
	margin-bottom:10px;
}
input[type=search] { 
	  width:210px;
	  height:40px;
	  border:1px solid rgba(204, 204, 204, 0.815);
	  line-height:15px;
	  padding:5px;	  
}
input[type=search]:focus{
	box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.1);
}
input:focus {outline:none;}
.search > span > i{
	margin:5px;
	line-height:15px;
	color:#ccc;
	font-size:1.2rem;
}
#board_list > li:nth-child(n+2):hover{
	background-color: rgba(204, 204, 204, 0.1);
	transition: all 0.5s;
}
.page > a {
	margin:10px;
}
.page > a :foucs{
	font-weight:bold;
}
/* 게시판 내용보기(content.jsp) */
#board_box { width: 100%;  margin: 0 auto; border-top: 2px solid #D4D4D4; margin-top:20px; }
#board_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#board_box li:nth-child(6){border-bottom: 2px solid #D4D4D4;}
#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #ccc; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 180px 15px; border-bottom: solid 1px #cccccc; }

#reply_content { padding: 5px; border: solid 1px #dddddd; }
#reply_content li { padding: 10px; border-bottom: solid 1px #dddddd; }
#reply_content span { display: inline-block;}
#reply_content .col1 { width: 80px; text-align:left;float:left;}
#reply_content .col2 { width: 800px; text-align: left;}
#reply_content .col3 { width: 100%; text-align:right;clear:both;}
#reply_content .col4 { width: 100%; text-align: right; }

#reply_form li { width:99%;padding: 10px 10px 30px 10px; border: solid 1px #dddddd; margin-top:20px;height: 6.25em; resize: none;text-align: left;}
#reply_form span { display: inline-block;}

#reply_form .col1 { width:100px; text-align: cnenter; float:left;align-items:center;}
#reply_form .col2 { width: 80%; text-align: left; float:left;}
textarea{ width: 100%;height: 8.5rem; border: 1px solid #dddddd;resize: none;text-align: left;float:right;}
#reply_form .col3 { width: 70px; text-align:right;clear:both;margin-top:50px;margin-left:15px;}

