@charset "utf-8";
@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container1{
	width:1200px;
	height:1100px;
	margin:auto;

}
.txtbox1 > h1 {
	width:1200px;
	font-size:1.6rem;
	text-align:left;
	margin:25px auto;
	border-left:5px solid #A6A6A6;
	padding-left:10px;
}
.txtbox1 > p{
	width:1000px;
	font-size:1.2rem;
	text-align:left;
	
}
.txtbox1{	
margin-bottom:80px;
}
.intro1,
.intro2{
	width:1200px;
	margin:auto;
}
.intro1 > .txt,
.intro2 > .txt {
	font-size:1rem;
}
.intro1 > img{
	width:500px;
	height:300px;
	float:left;
	margin-right:50px;
	margin-bottom:100px;
}
.intro1 > .txt{
	text-align:left;
	width:1050px;
	height:300px;
	margin-bottom:100px;
}
.intro2 > .txt{
	float:left;
	text-align:right;
	width:600px;
}
.intro2 > img{
	width:500px;
	height:300px;
	clear:both;
}

.con{
	margin-top:130px;
	width:100%;
	height:250px;
	background-color:#ccc;
	text-align:center;
	display: flex;
    justify-content: center;
    align-items: center;
}
.con > .text {
	width:700px;
	height:150px;
}
.con > .text > h1{
	font-size:2rem;
}

.container{
	width:1200px;
	height:800px;
	text-align:center;
	margin:auto;
}
.txt-box > .ceo-message{
	margin:auto;
	letter-spacing:9px;
	color:blue;
	text-align:center;
	line-height:80px;
	font-weight:900;
	font-size:1.5rem;
}
.txt-box > h1 {
	line-height:90px;
	font-size:2.6rem;
	font-weight:400;
	letter-spacing:2px;
}
.txt-box > h1 > span{
	font-weight:800;
}
.txt{
	padding:30px;
	width:700px;
	height:250px;
	margin:auto;
	line-height:30px;
	font-size:1.25rem;
}
.sign > h3{
	font-weight:400;	
}
.sign > h3 > span{
	font-weight:800;
	font-size:1.6rem;
	letter-spacing:5px;
}
img{
	margin:10px;
}
#tab3 > .txt-box {
	width:1000px;
	
}
iframe{
	border:none;
}
.conT{
	width:1000px;
	margin:auto;
}
.conT > .add {
	margin-bottom:80px;
	border-bottom:1px solid #ccc;
	padding-bottom:80px;
}
.conT > .add > ul,
.conT > .car > ul{
	margin-bottom:90px;
}
.add > ul > li:nth-child(1),
.car > ul > li:nth-child(2){
	font-size:1.4rem;
}
.car > ul > li:nth-child(1){
	border-radius:50%;
	border:1px solid #ccc;
	width:50px;
	height:50px;
	padding:30px;
	text-align:center;
	flex:display;
	align-items:center;
	margin-right:30px;
}
.car > ul > li > i{
	font-size:2rem;
	margin-top:6px;
	color:#002266;
}
.car > ul > li:nth-child(1){
	float:left;
}
.txtbox > h1 {
	width:1000px;
	font-size:1.6rem;
	text-align:left;
	margin:25px auto;
	border-left:5px solid #A6A6A6;
	padding-left:10px;
}
.txtbox > p{
	width:1000px;
	font-size:1.2rem;
	text-align:left;
	margin:25px auto;
}
.add{
	height:200px;
}

.car{
	height:500px;
}
